<!DOCTYPE>
<html>
<head>
<title><%= title %></title>
<link rel="stylesheet" type="text/css" href="/stylesheets/slider.css" >
</head>
<body>
<header>
  <h1>User's Wardrobe</h1>
</header>
<%= yield %>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/javascripts/slider.js"></script> 
</body>
</html>
