<form action="/upload" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>Image</legend>
    <input id="image_upload" type="file" name="my_file">
  </fieldset>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>

