<% @articles.each do |article| %>
  <li>
  <a href="/articles/<%= article.id %>">
    <img src="<%= article.image_url %>" width=200px height=200px alt="article_<%= article.id %>"</img>
  </a>
  </li>
<% end %>
