</div> <!-- no container -->

<form action="/outfits" method="post">
<div class="slider" for="top_id">
  <a href="#" class="control_next">></a>
  <a href="#" class="control_prev"><</a>
  <ul>
    <%= erb 'outfits/_articles'.to_sym, :locals => { :articles => @tops } %>
  </ul>
</div>

<div class="slider" for="bottom_id">
  <a href="#" class="control_next">></a>
  <a href="#" class="control_prev"><</a>
  <ul>
    <%= erb 'outfits/_articles'.to_sym, :locals => { :articles => @bottoms } %>
  </ul>
</div>

<div class="wrapper">
  <div class="well">
      <fieldset>
        <legend>Date</legend>
        <input type="date" name="outfit[date_worn]" value="<%= Date.today.to_s %>">
        <input id="submit_button" type="submit" class="btn btn-primary btn-large btn-block" 
          value="Wear">
          <a class="btn btn-primary btn-large btn-block">Dress me!</a>
      </fieldset>
    </div>
  </div>
</form>


<div> <!-- no container -->
