<h1>Tops</h1>
<%= erb 'articles/_articles'.to_sym, :locals => { :articles => @tops } %>
<a href="articles/tops/new">New</a>


<h1>Bottoms</h1>
<%= erb 'articles/_articles'.to_sym, :locals => { :articles => @bottoms } %>
<a href="articles/bottoms/new">New</a>
