<h1>Register</h1>
<form action="/users" method="post">
  <p>
  <label for="username">Username</label>
  <input id="username" type="text" name="user[username]">
  </p>
  <p>
  <label for="email">Username</label>
  <input id="email" type="text" name="user[email]">
  </p>
  <input type="submit" value="Register">
</form>

