<h1><%= @user.username %></h1>
<table class="table">
  <tr>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= @user.email %></td>
    <td>
      <a href="/users/<%= @user.username %>/edit">Edit</a>
    </td>
    <td>
      <form action="/users/<%= @user.username %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <a type="submit">Delete</a>
      </form>
    </tr>
  </tr>
</table>

</p>
