<form action="" method="POST">
  <p>
  <label for="subtype">Type</label><br />
  <input type="test" name="shoe[subtype]" id="subtype">
  </p>
  <p>
  <label for="brand">Brand</label><br />
  <input type="text" name="shoe[brand]" id="brand">
  </p>
  <p>
  <label for="color">Color</label><br />
  <input type="text" name="shoe[color]" id="color">
  </p>
  <label for="image_url">Image URL</label><br />
  <input type="text" name="shoe[image_url]" id="image_url">
  <p>
  <input type="submit">
</form>
